/*font-family: 'Inconsolata', monospace;*/
/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}
header{
    padding: 20px 0px;
}
.container{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}
.logo
{
    margin-top: 10px;
    width: 14%;
    float: left;
}
.logo img{
    width: 100%;

}
.menu{
    width: 70%;
    float: right;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style-type: none;
    float: left;
}
.menu ul li a{
    margin: 0px 50px;
    color:#626262 ;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    border: 1px solid transparent;
}
.menu ul li a:hover{
    border-bottom: 1px solid #626262;
}
.menu ul li:last-child a {
    margin-right: 0px;
}
/*-----------------------start banner---------------------------------*/
.b-banner img
{
    width: 100%;
}
/*-----------------------end banner---------------------------------*/
/*-----------------------start photo-dairy---------------------------------*/
.container2
{
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}
.anoter-p
{
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
.container2 h2
{
    font-size: 28px;
    font-weight: 400;
}
.photo-p
{
    line-height: 26px;
}


/*-----------------------end photo-dairy---------------------------------*/
/*------------------------------Leave a comment start--------------------------*/
.blog
{
    margin-top: 100px;
    width: 45%;
    float: left;
}
.blog2
{
    margin-top: 100px;
    width: 45%;
    float: right;    
}
.blog img
{
    width: 100%;
}
.blog2 img
{
    width: 100%;
}
.blog h1
{
    font-size: 30px;
    font-weight: 400;
} 
.blog2 h1
{
    font-size: 30px;
    font-weight: 400;
}

/*------------------------------Leave a comment end--------------------------*/
/*------------------------------------start photo dry-----------------------------*/
.news-letter
{
    height: 290px;
    background: #f0f0f0;
    
}
.news
{
    margin-top: 120px;
    text-align: center;

}
.news h1
{
    font-size: 30px;
    font-weight: 400;
}
.news input
{
    border:transparent;
    width: 200px;
    height: 30px;
    background: transparent;
}
.news input
{
    border-bottom: 1px solid black;
     
}

/*------------------------------------start photo dry-----------------------------*/
.button-last
{
    margin: 200px auto;
    width: 10%;

}
.button-last button
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    width: 150px;
    height: 50px;
    background: white;
    border: 1px solid #626262;
    cursor: pointer;
    transition: .3s;
}
.button-last button:hover
{
    background: #9b9999;
    border: 1px solid #626262;
}


/*---------------------start footer--------------------*/
footer
{
    padding: 40px 0px;
    background: #f0f0f0;
}
.privacy
{
    width: 30%;
    float: left;
    
}
.privacy p
{
    font-weight: 700;
    color: #000000;
}
.footer-nav
{
    float: right;
}
.footer-nav ul li 
{
    margin: 0px 20px;
    float: left;
    list-style-type: none;
}
.footer-nav ul li a
{
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: .3s;
}
.footer-nav ul li a i
{
    color: #626262;
    font-size: 18px;
}
.footer-nav ul li a i:hover
{
    color: black;
}
/*---------------------end footer--------------------*/